* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}



.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 700;
   
}


#menu {
    display: none;
}

.menu-icono {
width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

